
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center row ">
      <div class=" col-md-6">
          <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg" alt=""
              class="img-fluid">
      </div>
      <div class=" col-md-6 mt-5">
          <p class="fs-3"> <span class="text-danger">OH no!!!!!!</span> Pagina no existe.</p>
          <p class="lead">
            Esta pagina a la que intentas acceder no existe.
          </p>
          <button class="btn btn-success" (click)="volverLogin()">Vuelve a la pagina principal</button>
      </div>

  </div>
</div>
<div class="text align: center">

</div>
